<div class="row">


</div>
<div>
	<h2>What is your birthday?</h2>
	<div class="form-group">
		<form ng-submit="submit()" ng-controller="BirthdayController">

			<div class="row">
  			<div class="col-md-6">
			<label for="exampleInputEmail1">Your Birthday</label>
			<pre>{{user_birthday | date }}</pre>
			<div style="display:inline-block; min-height:290px;">
				<uib-datepicker ng-model="user_birthday" show-weeks="true" class="well well-sm" custom-class="getDayClass(date, mode)"></uib-datepicker>


				<div ng-init="user_sex='male'" />
				<label class="radio-inline">
					<input type="radio" ng-model="user_sex" value="male">Male
				</label>
				<label class="radio-inline">
					<input type="radio" ng-model="user_sex" value="female">Female
				</label>
				</div>
			</div>
  			</div>
  			<div class="col-md-6">
			<label for="exampleInputEmail1">Collaborator's Birthday</label>
			<pre>{{collaborator_birthday | date }}</pre>
			<div style="display:inline-block; min-height:290px;">
				<uib-datepicker ng-model="collaborator_birthday" min-date="minDate" show-weeks="true" class="well well-sm" custom-class="getDayClass(date, mode)"></uib-datepicker>

				<div ng-init="collaborator_sex='female'" style="padding-bottom:10px"/>
				<label class="radio-inline">
					<input type="radio" ng-model="collaborator_sex" value="male">Male
				</label>
				<label class="radio-inline">
					<input type="radio" ng-model="collaborator_sex" value="female">Female
				</label>
				</div>
			</div>
  			</div>
			</div>

			<div style="text-align:center">
				<input type="submit" id="submit" value="Continue" class="btn btn-large btn-success" />
			</div>
		</form>
	</div>
</div>
</div>