<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<form ng-submit="submit()" ng-controller="ExperienceController">
			<div class="row">
				<a href="#" class="list-group-item active">
					How many years of experience do you have in your field of work?
				</a>
				<div class="col-xs-6">
					<div class="list-group">
						<h3>Your Experience</h3>
						<label class="list-group-item"><input type="radio" name="collaborator_experience" ng-model="formData.user_experience" value="1-5"/> 1-5</label>
						<label class="list-group-item"><input type="radio" name="user_experience" ng-model="formData.user_experience" value="5-10"/> 5-10</label>
						<label class="list-group-item"><input type="radio" name="user_experience" ng-model="formData.user_experience" value="10-15"/> 10-15</label>
						<label class="list-group-item"><input type="radio" name="user_experience" ng-model="formData.user_experience" value="15+"/> 15+</label>
					</div>
				</div>
				<div class="col-xs-6">
				<div class="list-group">
						<h3>Collaborator Experience</h3>
						<label class="list-group-item"><input type="radio" name="collaborator_experience" ng-model="formData.collaborator_experience" value="1-5"/> 1-5</label>
						<label class="list-group-item"><input type="radio" name="collaborator_experience" ng-model="formData.collaborator_experience" value="5-10"/> 5-10</label>
						<label class="list-group-item"><input type="radio" name="collaborator_experience" ng-model="formData.collaborator_experience" value="10-15"/> 10-15</label>
						<label class="list-group-item"><input type="radio" name="collaborator_experience" ng-model="formData.collaborator_experience" value="15+"/> 15+</label>
					</div>
				</div>
			</div>
			<div style="text-align:center; margin-top: 20px;">
				<input type="submit" id="submit" value="Continue" class="btn btn-large btn-success" />
			</div>
		</form>
	</div>
	<div class="col-md-2"></div>
</div>