<div class="row">
  	<div class="col-md-2"></div>
  	<div class="col-md-8">
  		<form ng-submit="submit()" ng-controller="InterestsController">
			<h2 >What are your interests?</h2>
			<div class="row">
					<div class="col-xs-8 col-sm-6">
						<h3>Your Interests</h3>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="user_interests" ng-model="formData.user_interests.animation_film">Animation, Film & Video<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="user_interests" ng-model="formData.user_interests.art_photography">Art & Photography <br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="user_interests" ng-model="formData.user_interests.build_something_together">Build Something Together<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="user_interests" ng-model="formData.user_interests.business_collaborations">Business Collaborations<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="user_interests" ng-model="formData.user_interests.crafts">Crafts<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="user_interests" ng-model="formData.user_interests.design">Design<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="user_interests" ng-model="formData.user_interests.discover_passion">Discover a Passion<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="user_interests" ng-model="formData.user_interests.do_it_yourself">Do It Yourself <br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="user_interests" ng-model="formData.user_interests.engineering_technology">Engineering & Technology <br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="user_interests" ng-model="formData.user_interests.experiment_ideas">Experiment with Ideas <br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="user_interests" ng-model="formData.user_interests.finance_investment">Finance & Investment <br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="user_interests" ng-model="formData.user_interests.food">Food<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="user_interests" ng-model="formData.user_interests.freelance">Freelance <br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="user_interests" ng-model="formData.user_interests.need_mentorship">I Need Mentorship <br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="user_interests" ng-model="formData.user_interests.intrapreneurship">Intrapreneurship <br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="user_interests" ng-model="formData.user_interests.learn">Learn<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="user_interests" ng-model="formData.user_interests.hack_ideas">Hack Ideas<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="user_interests" ng-model="formData.user_interests.math_science">Math & Science <br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="user_interests" ng-model="formData.user_interests.music">Music<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="user_interests" ng-model="formData.user_interests.needs_community_advice">Needs Community Advice<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="user_interests" ng-model="formData.user_interests.neighborhood_projects">Neighborhood Projects<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="user_interests" ng-model="formData.user_interests.prototyping">Prototyping<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="user_interests" ng-model="formData.user_interests.senior_design">Senior Design<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="user_interests" ng-model="formData.user_interests.teaching_learning">Teaching & Learning<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="user_interests" ng-model="formData.user_interests.writing">Writing<br/>
						</label>
					</div>
					<div class="col-xs-4 col-sm-6">
						<h3>Collaborator Interests</h3>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="collaborator_interests" ng-model="formData.collaborator_interests.animation_film">Animation, Film & Video<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="collaborator_interests" ng-model="formData.collaborator_interests.art_photography">Art & Photography <br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="collaborator_interests" ng-model="formData.collaborator_interests.build_something_together">Build Something Together<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="collaborator_interests" ng-model="formData.collaborator_interests.business_collaborations">Business Collaborations<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="collaborator_interests" ng-model="formData.collaborator_interests.crafts">Crafts<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="collaborator_interests" ng-model="formData.collaborator_interests.design">Design<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="collaborator_interests" ng-model="formData.collaborator_interests.discover_passion">Discover a Passion<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="collaborator_interests" ng-model="formData.collaborator_interests.do_it_yourself">Do It Yourself <br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="collaborator_interests" ng-model="formData.collaborator_interests.engineering_technology">Engineering & Technology <br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="collaborator_interests" ng-model="formData.collaborator_interests.experiment_ideas">Experiment with Ideas <br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="collaborator_interests" ng-model="formData.collaborator_interests.finance_investment">Finance & Investment <br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="collaborator_interests" ng-model="formData.collaborator_interests.food">Food<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="collaborator_interests" ng-model="formData.collaborator_interests.freelance">Freelance <br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="collaborator_interests" ng-model="formData.collaborator_interests.need_mentorship">I Need Mentorship <br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="collaborator_interests" ng-model="formData.collaborator_interests.intrapreneurship">Intrapreneurship <br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="collaborator_interests" ng-model="formData.collaborator_interests.learn">Learn<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="collaborator_interests" ng-model="formData.collaborator_interests.hack_ideas">Hack Ideas<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="collaborator_interests" ng-model="formData.collaborator_interests.math_science">Math & Science <br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="collaborator_interests" ng-model="formData.collaborator_interests.music">Music<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="collaborator_interests" ng-model="formData.collaborator_interests.needs_community_advice">Needs Community Advice<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="collaborator_interests" ng-model="formData.collaborator_interests.neighborhood_projects">Neighborhood Projects<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="collaborator_interests" ng-model="formData.collaborator_interests.prototyping">Prototyping<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="collaborator_interests" ng-model="formData.collaborator_interests.senior_design">Senior Design<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="collaborator_interests" ng-model="formData.collaborator_interests.teaching_learning">Teaching & Learning<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="collaborator_interests" ng-model="formData.collaborator_interests.writing">Writing<br/>
						</label>
					</div>
			</div>

			<div style="text-align:center; margin-top: 20px;">
				<input type="submit" id="submit" value="Continue" class="btn btn-large btn-success" />
			</div>
		</form>
	</div>
  <div class="col-md-2"></div>
</div>