<h2>What are your interests?</h2>
<h3>Your Interests</h3>
<form ng-submit="submit()" ng-controller="QuestionsController">
	<input type="checkbox" name="user_interests" ng-model="formData.user_interests.animation"> Animation<br>
	<input type="checkbox" name="user_interests" ng-model="formData.user_interests.music"> Music<br>
	<input type="checkbox" name="user_interests" ng-model="formData.user_interests.business"> Business<br>

	<h3>Collaborator Interests</h3>
	<input type="checkbox" name="collaborator_interests" ng-model="formData.collaborator_interests.animation"> Animation<br>
	<input type="checkbox" name="collaborator_interests" ng-model="formData.collaborator_interests.music"> Music<br>
	<input type="checkbox" name="collaborator_interests" ng-model="formData.collaborator_interests.business"> Business<br>
	<div style="text-align:center; margin-top: 20px;">
		<input type="submit" id="submit" value="Continue" class="btn btn-large btn-success" />
	</div>
</form>