<div class="row">
  	<div class="col-md-1"></div>
  	<div class="col-md-10">
  		<form ng-submit="submit()" ng-controller="SkillsController">
			<h2 >What are your skills?</h2>
			<div class="row">
					<div class="col-xs-8 col-sm-6">
						<h3>Your Skills</h3>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="user_skills" ng-model="formData.user_skills.Agile">Agile<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="user_skills" ng-model="formData.user_skills.Apache_Solr">Apache Solr<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="user_skills" ng-model="formData.user_skills.Apple">Apple<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="user_skills" ng-model="formData.user_skills.Bash">Bash<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="user_skills" ng-model="formData.user_skills.CSS">CSS<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="user_skills" ng-model="formData.user_skills.Data_Migration">Data Migration<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="user_skills" ng-model="formData.user_skills.Distribution">Distribution<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="user_skills" ng-model="formData.user_skills.Foreign_Languages">Foreign Languages<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="user_skills" ng-model="formData.user_skills.Git">Git<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="user_skills" ng-model="formData.user_skills.HTML">HTML<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="user_skills" ng-model="formData.user_skills.Javascript">Javascript<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="user_skills" ng-model="formData.user_skills.Linux">Linux<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="user_skills" ng-model="formData.user_skills.Management">Management<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="user_skills" ng-model="formData.user_skills.MongoDB">MongoDB<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="user_skills" ng-model="formData.user_skills.MySQL">MySQL<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="user_skills" ng-model="formData.user_skills.Node.js">Node.js<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="user_skills" ng-model="formData.user_skills.PHP">PHP<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="user_skills" ng-model="formData.user_skills.Planning">Planning<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="user_skills" ng-model="formData.user_skills.Python">Python<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="user_skills" ng-model="formData.user_skills.Software_Development">Software Development<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="user_skills" ng-model="formData.user_skills.SQL">SQL<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="user_skills" ng-model="formData.user_skills.Svn">Svn<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="user_skills" ng-model="formData.user_skills.noSQL">noSQL<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="user_skills" ng-model="formData.user_skills.Java">Java<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="user_skills" ng-model="formData.user_skills.Cpp">C++<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="user_skills" ng-model="formData.user_skills.C">C<br/>
						</label>
					</div>
					<div class="col-xs-4 col-sm-6">
						<h3>Collaborator Interests</h3>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="collaborator_skills" ng-model="formData.collaborator_skills.Agile">Agile<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="collaborator_skills" ng-model="formData.collaborator_skills.Apache_Solr">Apache Solr<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="collaborator_skills" ng-model="formData.collaborator_skills.Apple">Apple<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="collaborator_skills" ng-model="formData.collaborator_skills.Bash">Bash<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="collaborator_skills" ng-model="formData.collaborator_skills.CSS">CSS<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="collaborator_skills" ng-model="formData.collaborator_skills.Data_Migration">Data Migration<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="collaborator_skills" ng-model="formData.collaborator_skills.Distribution">Distribution<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="collaborator_skills" ng-model="formData.collaborator_skills.Foreign_Languages">Foreign Languages<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="collaborator_skills" ng-model="formData.collaborator_skills.Git">Git<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="collaborator_skills" ng-model="formData.collaborator_skills.HTML">HTML<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="collaborator_skills" ng-model="formData.collaborator_skills.Javascript">Javascript<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="collaborator_skills" ng-model="formData.collaborator_skills.Linux">Linux<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="collaborator_skills" ng-model="formData.collaborator_skills.Management">Management<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="collaborator_skills" ng-model="formData.collaborator_skills.MongoDB">MongoDB<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="collaborator_skills" ng-model="formData.collaborator_skills.MySQL">MySQL<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="collaborator_skills" ng-model="formData.collaborator_skills.Node.js">Node.js<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="collaborator_skills" ng-model="formData.collaborator_skills.PHP">PHP<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="collaborator_skills" ng-model="formData.collaborator_skills.Planning">Planning<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="collaborator_skills" ng-model="formData.collaborator_skills.Python">Python<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="collaborator_skills" ng-model="formData.collaborator_skills.Software_Development">Software Development<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="collaborator_skills" ng-model="formData.collaborator_skills.SQL">SQL<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="collaborator_skills" ng-model="formData.collaborator_skills.Svn">Svn<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="collaborator_skills" ng-model="formData.collaborator_skills.noSQL">noSQL<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="collaborator_skills" ng-model="formData.collaborator_skills.Java">Java<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="collaborator_skills" ng-model="formData.collaborator_skills.Cpp">C++<br/>
						</label>
						<label class="checkbox-inline " style="margin-left:10px">
							<input type="checkbox" name="collaborator_skills" ng-model="formData.collaborator_skills.C">C<br/>
						</label>
					</div>
			</div>

			<div style="text-align:center; margin-top: 20px;">
				<input type="submit" id="submit" value="Continue" class="btn btn-large btn-success" />
			</div>
		</form>
	</div>
  <div class="col-md-1"></div>
</div>