<div class="jumbotron text-center">
	<h2>What kind of collaboration are you seeking?</h2>
	<div class="top">
		<a class="btn btn-primary" href="/collaboration?type=business&amp;session_key=5664ae43cd805a5f10089139" role="button">Business</a>
		<a class="btn btn-primary" href="/collaboration?type=hobby&amp;session_key=5664ae43cd805a5f10089139" role="button">Hobby</a>
		<a class="btn btn-primary" href="/collaboration?type=education&amp;session_key=5664ae43cd805a5f10089139" role="button">Education</a></div><div class="footer">
	</div>
</div>